/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-text{
    background: -webkit-linear-gradient(45deg, rgb(46, 105, 255) 0%, rgb(255, 116, 241) 66.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-bg {
    background: -webkit-linear-gradient(45deg, rgb(46, 105, 255) 0%, rgb(255, 116, 241) 66.6%);
}

.bg-filter--blur {
    background: rgba(19,21,23,0.8);
    backdrop-filter: saturate(180%) blur(23px);
}

.bg-gradient--dark {
    background-image: linear-gradient(to right, rgba(19, 21, 23, 0), rgb(19, 21, 23) 100%);
}


@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .bg-filter--blur {
      -webkit-backdrop-filter: blur(23px);
      backdrop-filter: blur(23px);
    }
}

.side-hero-section {
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgba(255, 255, 255, 0.6);
}