/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-text{
    background: -webkit-linear-gradient(45deg, rgb(46, 105, 255) 0%, rgb(255, 116, 241) 66.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}